{% extends 'Layout.html' %}
{% block head %}
  <title>Login | Overflow</title>
{% endblock %}
{% block content %}
<body class="min-h-screen">
  <div class="bg-gray-50">
    {% with userData=None %}
      {% include 'Navbar.html' %}
    {% endwith %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-3xl font-semibold text-gray-900">
        Overflow
      </a>
      <div class="w-full bg-gray-200 rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
            Login
          </h1>
          <form class="space-y-4 md:space-y-6" action="/auth/login" method="POST" enctype="multipart/form-data">
            <div>
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
              <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="user_name" required="true">
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
              <input type="password" name="password" id="password" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="true">
            </div>
            <button type="submit" class="w-full text-white bg-red-600 hover:bg-red-700 hover:text-gray-200 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login</button>
            <p class="text-sm font-light text-gray-600">
              Don't have an account yet? <a href="/register" class="font-medium text-gray-800 hover:underline">Register</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav class="w-full flex justify-center bg-red-600 px-6 py-3">
    <div class="text-sm text-gray-100 my-auto">
      &copy; 2022 Overflow
    </div>
  </nav>
</body>
{% endblock %}