<nav class="w-full bg-red-600 flex fixed top-0 z-50 px-6 py-3 shadow-lg shadow-gray-400/50">
  <div class="flex-1 px-2 my-auto">
    <a href="/" class="text-xl text-gray-100 font-['Open_Sans'] tracking-tight font-medium antialiased">Overflow</a>
  </div>
  <div class="flex my-auto mr-8">
    <a href="/" class="text-gray-100 text-sm mx-3 font-medium">Home</a>
    <a href="/weathermap" class="text-gray-100 text-sm mx-3 font-medium">Peta Cuaca</a>
  </div>
  {% if userData is none %}
  <div class="flex">
    <a href="/login" class="bg-gray-100 hover:shadow-md hover:shadow-red-800 text-sm text-red-600 font-medium tracking-wide rounded-2xl my-auto px-7 py-2">Login</a>
    <a href="/register" class="text-sm text-gray-100 hover:text-gray-200 hover:shadow-red-800 tracking-wide rounded-2xl my-auto px-7 py-2">Register</a>
  </div>
  {% else %}
  <div class="flex">
    <i class="fa-solid fa-circle-user text-4xl text-gray-100 my-auto mx-1"></i>
    <div class="flex flex-col mx-2 my-auto">
      <div class="text-gray-100 text-sm font-medium">{{ userData.name }}</div>
      <a href="/auth/logout" class="text-red-50 text-xs hover:underline">Logout</a>
    </div>
  </div>
  {% endif %}
</nav>